* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Georama", sans-serif;
}
*::-moz-selection {
  background: #fa6e16;
}
*::selection {
  background: #fa6e16;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

body {
  margin: 0;
  background-color: #18191a;
  color: #e4e6eb;
  font-weight: 400;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.app .flex__space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
  max-width: 100vw;
  max-height: 100vh;
}

.app .flex__space h1 {
  padding-top: 1rem;
  padding-left: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #fa6e16;
}

.app .flex__space .infos {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px 1rem;
}

.app .flex__space .infos p {
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  margin-right: 1rem;
  font-weight: 400 !important;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #1a1b1bd0;
  color: #e4e6eb;
  cursor: pointer;
}

.app .flex__space .infos p i {
  color: #fa6e16;
  font-size: 14px;
  margin-left: 0.5rem;
}

.app .flex__space .infos p b {
  color: #e4e6eb;
  font-weight: 400;
  margin-right: 0.5rem;
}

.app .flex__space .infos .info--closed {
  background-color: #ff620048;
}
.app .flex__space .infos .info--closed i {
  color: red;
}

.app .flex__space .infos .info--open {
  background-color: #62ff0048;
}
.app .flex__space .infos .info--open i {
  color: green;
}

.app .cards {
  padding: 0.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.app .flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 0 auto;
  max-width: 100vw;
  max-height: 100vh;
}

.app .flex .elements {
  padding: 0.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-height: 70vh;
  max-width: 50vw;
}

.app .flex .elements .element {
  margin: 20px;
  padding: 20px 30px 60px 30px;
  border-radius: 10px;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
  background-color: #1a1b1bd0;
  position: relative;
  min-width: 500px;
  max-width: 500px;
}
@media screen and (max-width: 600px) {
  .app .flex .elements .element {
    min-width: 300px;
    max-width: 300px;
  }
}
@media screen and (max-width: 500px) {
  .app .flex .elements .element {
    min-width: 250px;
    max-width: 250px;
  }
}
.app .flex .elements .element p b {
  color: #fa6e16;
  font-weight: 500;
}
.app .flex .elements .element::after {
  bottom: -5px;
  color: #ff620048;
  font-family: "Font Awesome 5 Free";
  font-size: 5em;
  position: absolute;
  right: 0px;
  transform: rotate(-30deg);
  content: "\f0f3";
}

.app .flex .elements .element small {
  font-size: 14px;
  color: gray;
  font-weight: 400;
}

.app .flex .elements .element button {
  background-color: #fa6e16;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  cursor: pointer;
  font-weight: 400;
  color: #e4e6eb;
  font-size: 16px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .app .flex .elements .element {
    flex: 0 1 45%;
    padding: 1.4em 1.4em 6em 2.2em;
    margin: 25px 0;
  }
}
