* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Georama", sans-serif;
}
*::-moz-selection {
  background: #fa6e16;
}
*::selection {
  background: #fa6e16;
}

body {
  margin: 0;
  background-color: rgb(40, 40, 40);
  color: white;
  font-weight: 400;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App h1 {
  padding-left: 1rem;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #fa6e16;
}

.App section {
  padding: 0.5rem 1rem;
}
