* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Georama", sans-serif;
}
*::-moz-selection {
  background: #fa6e16;
}
*::selection {
  background: #fa6e16;
}

body {
  margin: 0;
  background-color: #18191a;
  color: #e4e6eb;
  font-weight: 400;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app h1 {
  padding-top: 1rem;
  padding-left: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #fa6e16;
}

.app .cards {
  padding: 0.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
